<<<<<<< HEAD

    <script src="blog (1).js"></script>
</body>
<footer id="footer">
    <p>Copyright@Ankit Bajpai 2021</p>
</footer>
=======
    <footer id="footer">
        <p>Copyright@Ankit Bajpai 2021</p>
    </footer>
    <script src="blog (1).js"></script>
</body>

>>>>>>> 7526210670f4a5fe948a0745082018f676106436
</html>
