<script src="blog(2).js"></script>
</body>
<footer id="footer">
    <!-- <span>&#169;</span>&nbsp; -->
    <i class="far fa-copyright"></i>&nbsp;
    <p>Copyright@Ankit Bajpai 2021 </p>
</footer>

</html>
