<<<<<<< HEAD

<script src="../../quesAns.js"></script>
</body>
=======
>>>>>>> 7526210670f4a5fe948a0745082018f676106436
<footer id="footer">
    <p>Copyright@Ankit Bajpai 2021</p>
</footer>


<<<<<<< HEAD
=======
<script src="../../quesAns.js"></script>
</body>

>>>>>>> 7526210670f4a5fe948a0745082018f676106436
</html>
