<<<<<<< HEAD

</body>
<footer id="footer" >
=======
<footer id="footer" class="footerForFailure"  >
>>>>>>> 7526210670f4a5fe948a0745082018f676106436
    <p>Copyright@Ankit Bajpai 2021</p>
</footer>
</html>
