<%- include('partials/headerfornotsigned')%>
    <section id="homeSec">
        <div id="homeDiv">
            <div id="homecontent">
                <h1>Lorem ipsum dolor sit</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate exercitationem impedit in ut,
                    quis laudantium Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, sed?
                </p>
                <button class="homeBtn">Join For Free</button>
            </div>
            <img src="images/illu3.jpg" id="homeImg" alt="questions">
        </div>
    </section>
    <section id="aboutSec">
        <h1 id="aboutHead">About Us</h1>
        <div class="aboutDiv">
            <!-- <div id="aboutImg"></div> -->
            <img src="images/about2.jpg" id="aboutImg" alt="about">
            <div id="about">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At et eligendi aut sed, consequatur
                    assumenda accusamus dicta aliquid expedita? Sequi autem minima repudiandae dolorum provident
                    laudantium ad, ex rerum doloremque explicabo consequatur!
                    Quia doloremque eligendi amet nostrum maiores a ex, dolores quasi tempore earum, explicabo magnam
                    deserunt. Repellat, excepturi velit Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                    excepturi odio deleniti pariatur est,
                    cupiditate quaerat iusto corporis quae natus laborum ducimus quas possimus quos, officiis rerum!
                    Impedit, nostrum laborum?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore
                    qui nulla. Fuga facere earum laboriosam,
                    dolores eos impedit nobis.</p>
            </div>
        </div>
        <h1 id="feature">Features</h1>
        <div class="aboutCard">
            <div class="card">
                <div class="cardImg">
                    <img src="images/lamp.jpg" class="cardImg" id="tech" alt="lamp">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="images/education.jpg" class="cardImg" id="education" alt="education">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="images/sports.jpg" class="cardImg" id="sports" alt="sports">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contactSec">
        <div id="contactDiv">
            <h1 id="contactHeading">Get In Touch</h1>
            <form id="contactForm">
                <input type="text" name="user" placeholder="Name" id="name" required>
                <input type="email" name="mail" placeholder="Email" id="email" required>
                <textarea name="textarea" cols="10" rows="5" placeholder="Message" id="messages" required></textarea>
                <button type="button" onclick="dothis()">Submit</button>
            </form>
        </div>
    </section>
    <%- include('partials/Footerfornotsigned')%>