<%- include('partials/HeaderforquesAns') %>
  <section id="navSec">
    <ul>
      <li>Quora</li>
      <input type="text" placeholder="Search">
      <button>Sign In</button>
    </ul>
  </section>

  </section>
  <section id="quesAnsSec">
    <div id="quesAnsDiv">
      <div id="questioner">
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
          <h3>Ankit Bajpai</h3>
        </div>
        <h1 id="ques"><%=user.ques%></h1>
        <div id="quesIcons">
          <img src="../images/like.png" id="queslike" alt="like" class="quesIcons like">
          <img src="../images/dislike.png" id="quesdislike" alt="dislike" class="quesIcons dislike">
          <img src="../images/comment.png" alt="like" id="allAnswer">
        </div>
      </div>
      <div class="answerer">
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
          <h4>Ankit Bajpai</h4>
        </div>
        <p id="ans">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, dolor officiis id facere ut dolores
          fugit, ipsam enim nihil, molestias autem aliquam nemo eos quisquam amet exercitationem dicta minus incidunt?
          Eos impedit suscipit inventore iure, est dolorum, incidunt ullam eius sit fugit molestiae, saepe nobis aperiam
          quidem tenetur corporis dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam animi
          accusantium, soluta dolorum voluptas omnis voluptatem ex nihil aperiam provident cumque repudiandae quis
          voluptates molestias doloremque a suscipit iure accusamus!</p>
        <img src="../images/like.png" id="619" alt="liked" class="ansIcons ansIconslike like">
        <img src="../images/dislike.png" id="719" alt="disliked" class="ansIcons ansIconsdislike dislike">
        <hr />
      </div>
      <div class="answerer">
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
          <h4>Ankit Bajpai</h4>
        </div>
        <p id="ans">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, dolor officiis id facere ut dolores
          fugit, ipsam enim nihil, molestias autem aliquam nemo eos quisquam amet exercitationem dicta minus incidunt?
          Eos impedit suscipit inventore iure, est dolorum, incidunt ullam eius sit fugit molestiae, saepe nobis aperiam
          quidem tenetur corporis dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam animi
          accusantium, soluta dolorum voluptas omnis voluptatem ex nihil aperiam provident cumque repudiandae quis
          voluptates molestias doloremque a suscipit iure accusamus!</p>
        <img src="../images/like.png" alt="like" class=" ansIcons ansIconslike like">
        <img src="../images/dislike.png" alt="like" class="ansIconsdislike ansIcons dislike">
        <hr />
      </div>
      <div class="answerer">
        <div class="profile">
          <img src="../images/user.png" alt="" class="dp">
          <h4>Ankit Bajpai</h4>
        </div>
        <p id="ans">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, dolor officiis id facere ut dolores
          fugit, ipsam enim nihil, molestias autem aliquam nemo eos quisquam amet exercitationem dicta minus incidunt?
          Eos impedit suscipit inventore iure, est dolorum, incidunt ullam eius sit fugit molestiae, saepe nobis aperiam
          quidem tenetur corporis dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam animi
          accusantium, soluta dolorum voluptas omnis voluptatem ex nihil aperiam provident cumque repudiandae quis
          voluptates molestias doloremque a suscipit iure accusamus!</p>
        <img src="../images/like.png" alt="like" class="ansIcons ansIconslike like">
        <img src="../images/dislike.png" alt="like" class="ansIcons ansIconsdislike dislike">
        <hr />
      </div>
    </div>
  </section>
  <%- include('partials/FooterforquesAns')%>
