<%- include('partials/Headerforsigned')%>
    <section id="loginSec">
        <div class="form-popup" id="myForm">
            <form action="/login" method="post" class="form-container">
                <span onclick="closeForm()">
                    <img src="images/close.png" class="cancelPop" alt="pp">
                </span>
                <input type="email" placeholder="Enter Email" name="username" required>
                <input type="password" placeholder="Enter Password" name="password" required>
                <div id="btnSpan">
                    <button type="submit" formaction="/login" formmethod="post" class="formBtn" id="signinBtn">Sign
                        In</button>
                    <button type="submit" class="formBtn" id="signupBtn">Sign Up</button>
                    <button type="submit" class="formBtn" id="otherBtn">Others</button>
                </div>
                <a href="/" id="formText">Forget password?</a>
            </form>
        </div>
    </section>
    <section id="signupSec">
        <form action="/register" method="POST" id="signupForm" class="form-container">
            <span onclick="closeForm()">
                <img src="images/close.png" class="cancelPop" alt="pp">
            </span>
            <input type="text" placeholder="Name" name="name" required>
            <input type="email" placeholder="Email" name="username" required>
            <input type="password" placeholder="Password" name="password1" required>
            <input type="password" placeholder="Confirm password" name="password2" required>
            <button type="submit" class="formBtn">Sign Up</button>
        </form>
    </section>
    <section id="others">
        <span onclick="closeOthers()">
            <img src="images/close.png" id="remove-othersPop" onclick="closeOthers" alt="pp">
        </span>
        <div class="col-sm" id="othersDiv">
            <form action="/auth/google" method="get">
                <button type="submit" id="google" class="other-btn" name="button"><i class="fab fa-google"></i>Sign In With Google</button>
            </form>
            <form action=" /auth/facebook" method="POST">
                <button type="submit" id="facebook" class="other-btn" name="button"><i class="fab fa-facebook"></i>Sign In With Facebook</button>
            </form>
        </div>
    </section>

    <section id="homeSec">
        <div id="homeDiv">
            <div id="homecontent">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate exercitationem impedit in ut,
                    quis laudantium Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, sed?
                </p>
                <%# <button class="homeBtn">Join For Free</button> %>
                <span id="fname">Welcome <%=name%></span>
            </div>
            <img src="images/illu3.jpg" id="homeImg" alt="questions">
        </div>
    </section>
    <section id="aboutSec">
        <h1 id="aboutHead">About Us</h1>
        <div class="aboutDiv">
            <!-- <div id="aboutImg"></div> -->
            <img src="images/about2.jpg" id="aboutImg" alt="about">
            <div id="about">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At et eligendi aut sed, consequatur
                    assumenda accusamus dicta aliquid expedita? Sequi autem minima repudiandae dolorum provident
                    laudantium ad, ex rerum doloremque explicabo consequatur! Quia doloremque eligendi amet nostrum
                    maiores a ex, dolores quasi tempore earum, explicabo magnam deserunt. Repellat, excepturi velit
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam excepturi odio deleniti pariatur est,
                    cupiditate quaerat iusto corporis quae natus laborum ducimus quas possimus quos, officiis rerum!
                    Impedit, nostrum laborum?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolore
                    qui nulla. Fuga facere earum laboriosam, dolores eos impedit nobis.</p>
            </div>
        </div>
        <div class="aboutCard">
            <div class="card">
                <div class="cardImg">
                    <img src="images/lamp.jpg" class="cardImg" id="tech" alt="lamp">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="images/education.jpg" class="cardImg" id="education" alt="education">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card">
                <div class="cardImg">
                    <img src="images/sports.jpg" class="cardImg" id="sports" alt="sports">
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contactSec">
        <div id="contactDiv">
            <h1 id="contactHeading">Get In Touch</h1>
            <form action="/mailing" method="post"id="contactForm">
                <input type="text" name="user" placeholder="Name" id="name" required>
                <input type="email" name="mail" placeholder="Email" id="email" required>
                <textarea name="textarea" cols="10" rows="5"  placeholder="Message" id="messages" required></textarea>
                <button type="button" onclick="dothis()">Submit</button>
        </div>
    </section>
    <%- include('partials/Footerforsigned')%>
