*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}
html, body{
    height: 100%;
  }
.sidebar {
  /* border:2px solid rgb(248, 58, 58); */
    /* height: 100%; */
    background-color: #070707;
    /* width: 0; */
    width: 13rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    /* transition: 0.5s; */
  }
  #camera{
    /* display: none; */
    position: absolute;
    top: 11%;
    left: 47%;
    z-index:3;
  }
  #close{
    display:none;
    position: absolute;
    top:0;
    left:0;
    cursor:pointer;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #info{
      /* border:2px solid rgb(55, 40, 255); */
      background-color: rgb(255, 139, 7);
      /* height:12rem;
      padding:2rem 0rem; */
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  #info img{
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }
  #info h4{
    color:rgb(238, 238, 238);
  }
  #info h5{
    margin-bottom: 1rem;
    color:rgb(238, 238, 238);
  }
  /* #links{
    border:2px solid rgb(255, 85, 85);
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  #links a {
    /* border:2px solid white; */
    color:rgb(238, 238, 238);
    display: block;
    text-decoration: none;
    font-size:1.1rem;
    font-weight:500;
    padding:0.5rem;
  }

  /* .text-decoration-none{
    color: blue;
  } */

  #links a:hover {
    background-color:rgb(44, 43, 43);
  }
  .navbar{
    margin-left:13rem;
  }
  .container-fluid h3{
    text-align: center;
  }
  .navItem{
    position: absolute;
    right:1rem;
  }
  #title{
    display: block;
    margin: auto;
  }
  .searchBar{
    height:2rem;
  }
  #profilePic{
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    /* filter: invert(40%); */
  }
  #profilePic:hover{
    transition: all 300ms;
    transform:scale(0.9);
  }
  #editSpan{
    text-align: center;
    float:right;
    height: 3rem;
    width: 3rem;
    padding-top: 0.4rem;
    background-color: rgb(255, 139, 7);
    border-radius: 50%;
    cursor: pointer;
  }
  /* .editIcon{
    height:2.5rem;
    width:2.5rem;
  } */
  #myContent{
    margin-left: 23rem;
    width: 52rem;
    display: block;
  }
  div.content {
    /* border:2px solid black; */
    /* margin-left: 20rem; */
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    height: 16.5rem;
    width: 52rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 9px -3px #888888;
    /* transition: 0.5s; */
  }
  .content form{
    /* border:2px solid rgb(73, 44, 44); */
    height: 22rem;
    width: 46rem;
  }
  .content table{
    /* border:2px solid rgb(73, 44, 44); */
    height:15rem;
    width:100%;
  }
  .firstLabel{
      margin-right:14.2rem;
      font-size: 1.2rem;
      font-weight: 700;
  }
  .secLabel{
      margin-right:10.5rem;
      margin-bottom:3rem;
      font-size: 1.2rem;
      font-weight: 700;
  }
  .content input,select{
    width: 25rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
  }
  .content button{
    height: 3rem;
    width: 10rem;
    margin: 1.2rem 0rem;
    margin-right:4rem;
    background-color: rgb(37, 178, 221);
    border:none;
    border-radius: 0.7rem;
    font-size: 1rem;
    color: white;
    cursor:pointer;
  }

  .table-2 {
    display: none;
    border-collapse: collapse;
}
/* #pinChange{
  display: block;
} */
.table-2 td {
    padding-top: 1em;
    padding-bottom: 1.3em;
}
.clickedPinChangeBtn{
    display:block;
}
#moreInfo h1{
    color:rgb(219, 57, 57);
    margin-top:1rem;
}
#moreInfoTable{
    height:20rem;
}

/* profileNav */
#profileNav{
  width: 52rem;
  margin-bottom: 1rem;
  /* position:sticky;
   top:0; */
  z-index:2;
}

/* ANSWER PART HERE */
.questionDiv{
  margin:0;
  z-index:1;
  border-top:2px solid rgb(202, 202, 202);
  border-bottom:2px solid rgb(202, 202, 202);
  margin-bottom:1.5rem;
  padding:0.7rem 1rem 0rem 1rem;
}
.questionDiv:hover{
  background-color: #ececec;
}
.splDivForOtherProfile{
  border-top:2px solid rgb(202, 202, 202);
  border-bottom:2px solid rgb(202, 202, 202);
  padding:0.5rem 1rem;
  margin-top:1.5rem;
}
.splDivForOtherProfile:hover{
  background-color: #ececec;
}

/* QUESTION PART HERE */
.answerDiv{
  border: 1px solid rgb(194, 194, 194);
}
.t-hide{
  display: none;
}
#writerDiv{
  background-color: #eeeeee;
  border-bottom: 1px solid rgb(194, 194, 194);
}
#writer{
  margin-left: 0.5rem;
}
#answerBox,#textDec{
  border-bottom: 1px solid rgb(194, 194, 194);
}
#postbtnDiv{
  background-color: #eeeeee;
}
.answerBtn{
  background-color: transparent;
  border: none;
  color:#5B6EFD;
}
#answerBlock{
    border: none;
    height:6rem;
}
.postBtn{
  width:5rem;
  font-size: 0.9rem;
}
.answerDiv{
  display: none;
}

/* ANSWER PART HERE */
.answerer{
  /* border:2px solid rgb(17, 11, 11); */
  height: auto;
  margin-top: 0rem;
  z-index:1;

}
.profile{
  /* border:2px solid rgb(182, 35, 35); */
  display: flex;
  align-items: center;
}
.answerer .dp{
  /* border:2px solid rgb(17, 11, 11); */
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  filter: brightness(100%);
  margin-right:0.5rem;
  /* filter:invert(65%); */
}
.profile h5{
  margin-top:0.2rem;
  margin-left:0.3rem;
}
.clickedIcon{
  background-color:rgb(60, 163, 247);
}
#ans{
  margin:1rem;
}
.ansIcons{
  height: 1.5rem;
  width: 1.5rem;
  margin:0rem 1rem 1rem 2rem;
  cursor: pointer;
}

/* FOLLOWING ANS FOLLOWER PART HERE */

.follSec{
  /* border: 2px solid green; */
  width: 52rem;
  height: auto;
  /* margin-left: 21rem; */
  position: relative;
  z-index:1;
}
.dpIcon{
  margin-right: 0.7rem;
}
.followBtn{
  align-content: flex-end;
  position: absolute;
  right: 1.5rem;
  padding: 0.5rem 1.8rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  background-color: rgb(107, 190, 245);
  border: none;
  /* color:rgb(3, 110, 250); */
}

/* EDIT PART HERE */
#editSec{
  display: none;
  margin-top:10rem;
}
