* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

html,
body {
  height: 100%;
}

.sidebar {
  /* border:2px solid rgb(248, 58, 58); */
  background-color: #070707;
  width: 16rem;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
}

#camera {
  /* display: none; */
  background-color: black;
  padding: 0.7rem;
  position: absolute;
  top: 7%;
  left: 42%;
  z-index: 3;
  border-radius: 50%;
}

#close {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#info {
  /* border:2px solid rgb(55, 40, 255); */
  background-color: rgb(255, 139, 7);
  /* height:12rem;
      padding:2rem 0rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info img {
  height: 4rem;
  width: 4rem;
  margin-bottom: 1rem;
}

#info h4 {
  color: rgb(238, 238, 238);
}

#info h5 {
  margin-bottom: 1rem;
  color: rgb(238, 238, 238);
}

/* #links{
    border:2px solid rgb(255, 85, 85);
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
#links a {
  /* border:2px solid white; */
  color: rgb(238, 238, 238);
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem;
}

/* .text-decoration-none{
    color: blue;
  } */

#links a:hover {
  background-color: rgb(44, 43, 43);
}

.navbar {
  margin-left: 13rem;
  display: flex;
}

.mobileNav {
  display: none;
  text-align: center;
}

.mobileNav span {
  display: inline;
  position: absolute;
  left: 1rem;
}

#openSide {
  display: none;
  color: white;
  font-size: 2rem;
}

.container-fluid h3 {
  text-align: center;
}

.navItem {
  position: absolute;
  right: 1rem;
}

#title {
  display: block;
  margin: auto;
  font-size: 1.7rem;
}

.searchBar {
  height: 2rem;
}

#profilePic {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  /* filter: invert(40%); */
}

#profilePic:hover {
  transition: all 300ms;
  transform: scale(0.9);
}

#editSpan {
  text-align: center;
  float: right;
  height: 3rem;
  width: 3rem;
  padding-top: 0.4rem;
  background-color: rgb(255, 139, 7);
  border-radius: 50%;
  cursor: pointer;
}

/* .editIcon{
    height:2.5rem;
    width:2.5rem;
  } */
#myContent {
  margin-left: 23rem;
  /* width: 52rem; */
  width: auto;
  display: block;
}

#mobContent {
  display: none;
  height: 16.5rem;
  /* max-width: auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem; */
  /* margin: auto; */
  box-shadow: 2px 2px 9px -3px #888888;
}

#mobDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

div.content {
  /* border:2px solid black; */
  /* margin-left: 20rem; */
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  /* margin-right: 3rem; */
  height: 19.5rem;
  /* height: auto; */
  max-width: 52rem;
  /* min-width: max-content; */
  padding: 0.5rem;
  background-color: #9e9d987a;
  /* box-shadow: 2px 2px 9px -3px #888888; */
  /* transition: 0.5s; */
}

.content form {
  /* border:2px solid rgb(73, 44, 44); */
  height: 22rem;
  /* height: auto; */
  width: 46rem;
  margin-top: 2rem;
  /* width: auto; */
}

.content table {
  /* border:2px solid rgb(73, 44, 44); */
  height: 15rem;
  /* height:auto; */
  width: 100%;
}

.firstLabel {
  margin-left: 2rem;
  margin-right: 12.2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.content input {
  width: 25rem;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
}

#editmake {
  width: 7rem;
  background-color: #2E69FF;
  border-radius: 2rem;
  font-size: 1rem;
  display: block;
  padding: 0.5rem 0rem;
  margin: auto;
  border: none;
  display: none;
}


/* profileNav */
#profileNav {
  width: 52rem;
  margin-bottom: 1rem;
  /* position:sticky;
   top:0; */
  position: relative;
  z-index: 1;
}

.slide {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 9rem;
  margin-left: 2rem;
  /* width:calc(410px/4); */
  height: 0.3rem;
  background: red;
  transition: .1s;
}


/* ANSWER PART HERE */
.questionDiv {
  width: 52rem;
  margin: 0;
  z-index: 1;
  border-top: 2px solid rgb(202, 202, 202);
  border-bottom: 2px solid rgb(202, 202, 202);
  margin-bottom: 1.5rem;
  padding: 0.7rem 1rem 0rem 1rem;
}

.questionDiv:hover {
  background-color: #ececec;
}

.splDivForOtherProfile {
  border-top: 2px solid rgb(202, 202, 202);
  border-bottom: 2px solid rgb(202, 202, 202);
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
}

.splDivForOtherProfile:hover {
  background-color: #ececec;
}

/* QUESTION PART HERE */
.answerDiv {
  border: 1px solid rgb(194, 194, 194);
  width: 75%;
}

.t-hide {
  display: none;
}

#writerDiv {
  background-color: #eeeeee;
  border-bottom: 1px solid rgb(194, 194, 194);
}

#writer {
  margin-left: 0.5rem;
  font-size: 1rem;
}

#answerBox,
#textDec {
  border-bottom: 1px solid rgb(194, 194, 194);
}

#postbtnDiv {
  background-color: #eeeeee;
}

.answerBtn {
  background-color: transparent;
  border: none;
  color: #5B6EFD;
}

#answerBlock {
  border: none;
  height: 6rem;
  font-size: 1rem;
}

.postBtn {
  width: 5rem;
  font-size: 0.9rem;
}

.answerDiv {
  display: none;
}

/* ANSWER PART HERE */
.answerer {
  /* border:2px solid rgb(17, 11, 11); */
  /* height: auto; */
  width: 52rem;
  margin-top: 0rem;
  z-index: 1;
}

.profile {
  /* border:2px solid rgb(182, 35, 35); */
  display: flex;
  align-items: center;
}

.answerer .dp {
  /* border:2px solid rgb(17, 11, 11); */
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  filter: brightness(100%);
  margin-right: 0.5rem;
  /* filter:invert(65%); */
}

.profile h5 {
  margin-top: 0.2rem;
  margin-left: 0.3rem;
}

.clickedIcon {
  background-color: rgb(60, 163, 247);
}

#ans {
  margin: 1rem;
}

.ansIcons {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0rem 1rem 1rem 2rem;
  cursor: pointer;
}

#ques {
  color: #343d7d;
}

/* FOLLOWING ANS FOLLOWER PART HERE */

.follSec {
  /* border: 2px solid green; */
  width: 52rem;
  height: auto;
  /* margin-left: 21rem; */
  position: relative;
  z-index: 1;
}

.dp {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.6rem;
  border-radius: 50%;
  filter: brightness(100%);
  background: rgb(44, 44, 44);
}

.following h6 a,
.answerer a {
  text-decoration: none;
}

.following h6 a:hover,
.answerer a:hover {
  text-decoration: underline;
  color: black;
}

.followBtn {
  align-content: flex-end;
  position: absolute;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  letter-spacing: 0.04rem;
  color: #2E69FF;
  background-color: #c7e8fd;
  border: none;
  /* color:rgb(3, 110, 250); */
}

.followBtn:hover {
  background-color: #b1e0ff;
}

/* MEDIA QUERY */
/* @media only screen and (max-width: 360px) {
  html{
    font-size:50%;
  }
  .content{
    display: none;
  }
  #myContent{
    margin-left:0;
    display: flex;
    flex-direction: column;
    align-items: center; 
     width: auto;
  } 
  #mobContent{
    display: block;
    width: 26rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding: 2.5rem;
    box-shadow: 2px 2px 9px -3px #888888;
  }
  #profileNav{
    width:26rem;
  } 
  .follSec{
    width:26rem;
  }
  .answerer{
    width:26rem;
    padding:0.5rem;
  }
} */
@media only screen and (max-width: 450px) {
  html {
    font-size: 60%;
  }

  .sidebar {
    width: 0;
    transition: 0.5s;
  }

  .sidebar button {
    font-size: 1rem;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  #title {
    font-size: 2rem;
  }

  #openSide {
    display: block;
  }

  #myContent {
    margin-left: 0;
    /* margin-top:6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width:20rem; */
    width: auto;
    margin: 0.8rem;
  }

  div.content {
    /* height:auto; */
    /* height:40rem; */
    width: auto;
    margin: auto;
    height: max-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #camera {
    top: 4%;
  }

  #editSpan {
    display: none;
  }

  .content form {
    padding: 1rem;
    /* height:auto; */
    /* height:40rem; */
    width: 35rem;
    /* margin:auto; */
    height: fit-content;
    margin-bottom: 1rem;
  }

  #profileNav {
    width: 35rem;
  }

  .slide {
    bottom: 8px;
    width: 8rem;
    margin-left: 1rem;
  }

  #info h5 {
    font-size: 1.5rem;
  }

  .input {
    text-align: center;
  }

  .follSec {
    width: 36rem;
  }

  .questionDiv {
    width: 36rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .answerDiv {
    width: 34rem;
    /* height:34rem; */
    font-size: 1.8rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .answerer {
    width: 36rem;
    padding: 0.5rem;
  }

  .firstLabel {
    margin-bottom: 0.5rem;
    margin-left: 3rem;
  }

  .content table tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .content table label,
  .content table input,
  #links a {
    font-size: 1.5rem;
  }

  #profileNav button {
    font-size: 1.4rem;
    margin: 0 -2rem;
  }

  .followBtn {
    font-size: 1.1rem;
  }

  .dp {
    height: 3rem;
    width: 3rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}

@media only screen and (min-width: 450px) and (max-width: 605px) {
  html {
    font-size: 70%;
  }

  .sidebar {
    width: 0;
    transition: 0.5s;
  }

  .sidebar button {
    font-size: 1rem;
  }

  .navbar {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  #openSide {
    display: block;
  }

  #myContent {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width:20rem; */
    width: auto;
    /* margin: auto; */
  }

  #camera {
    top: 5%;
  }

  #editSpan {
    display: none;
  }

  div.content {
    /* min-width: max-content; */
    /* width: 44rem; */
    margin: auto;
    /* height: auto; */
    height: 40rem;
    height: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content table tr {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input {
    text-align: center;
  }

  .content form {
    padding: 1rem;
    height: auto;
    /* height:40rem; */
    width: 35rem;
    /* margin:auto; */
    height: max-content;
    margin-bottom: 1rem;
  }

  #profileNav {
    width: 35rem;
  }

  .slide {
    bottom: 10px;
    width: 5rem;
  }

  .answerer,
  .follSec {
    width: 36rem;
  }

  .questionDiv {
    width: 35rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .answerDiv {
    width: 34rem;
    /* height:34rem; */
    font-size: 1.8rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .followBtn {
    right: 1rem;
  }

  .firstLabel {
    margin-right: 0;
    margin-left: 2.5rem;
  }

  .content form table tr td {
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
  }

  .content input {
    width: 28rem;
  }

  .content input,
  .content label,
  #links a {
    font-size: 1.2rem;
  }

  #profileNav button {
    font-size: 1.2rem;
    margin: 0 -1rem;
  }

  .dp {
    height: 3.3rem;
    width: 3.3rem;
  }

  .followBtn {
    font-size: 1.1rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.4rem;
    text-align: justify;
  }

  #editmake {
    display: none;
  }
}

@media only screen and (min-width: 605px) and (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #info h5 {
    font-size: 1.5rem;
  }

  .sidebar {
    width: 0;
  }

  .sidebar button {
    font-size: 1rem;
  }

  #openSide {
    display: block;
  }

  .navbar {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }

  #myContent {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding:2rem; */
    /* width:63rem; */
    width: auto;
  }

  #camera {
    top: 5%;
    left: 44%;
  }

  div.content {
    /*width:25rem; */
    margin: auto;
    height: auto;
    /* margin-left:0; */
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .content form {
    /* width:25rem; */
    height: max-content;
    margin-bottom: 2rem;
  }

  .content table {
    height: 13.5rem;
  }

  #profileNav,
  .questionDiv {
    width: 48rem;
    font-size: 1.5rem;
    /* width:auto; */
  }

  .answerDiv {
    width: 46rem;
    /* height:34rem; */
    font-size: 1.8rem;
  }

  .answerer,
  .follSec {
    width: 49rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .slide {
    bottom: 10px;
    z-index: 1;
  }

  .firstLabel {
    margin-left: 2rem;
    margin-right: 4rem;
  }

  #links a {
    font-size: 1.4rem;
  }

  .content table label,
  .content table input,
  #profileNav button {
    font-size: 1.3rem;
  }

  .dp {
    height: 3rem;
    width: 3rem;
  }

  .followBtn,
  .questionDiv p {
    font-size: 1.2rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}

@media only screen and (min-width: 768px) and (max-width: 865px) {
  html {
    font-size: 65%;
  }

  #info h5 {
    font-size: 1.5rem;
  }

  .sidebar button {
    font-size: 1rem;
  }

  #myContent {
    margin-left: 19rem;
  }

  #camera {
    top: 4.5%;
  }

  .questionDiv {
    font-size: 1.5rem;
  }

  .content table label {
    font-size: 1.3rem;
  }

  .content table input,
  #profileNav button,
  #links a {
    font-size: 1.4rem;
  }

  .followBtn {
    font-size: 1.2rem;
  }

  .answerDiv {
    width: 50rem;
    font-size: 1.8rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .dp {
    height: 3.5rem;
    width: 3.5rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.4rem;
    text-align: justify;
  }
}

@media only screen and (min-width: 865px) and (max-width: 992px) {
  html {
    font-size: 70%;
  }

  .sidebar button {
    font-size: 1rem;
  }

  div.content {
    margin-top: 3rem;
  }

  #camera {
    top: 5%;
  }

  .content form {
    height: max-content;
  }

  .content table label,
  .content table input,
  #profileNav button,
  #links a {
    font-size: 1.3rem;
  }

  .questionDiv {
    font-size: 1.4rem;
  }

  .answerDiv {
    width: auto;
    font-size: 1.8rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.4rem;
    text-align: justify;
  }

  .dp {
    height: 3rem;
    width: 3rem;
  }

  .followBtn {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1035px) {
  html {
    font-size: 72%;
  }

  #myContent {
    margin-left: 23rem;
  }

  #camera {
    top: 5%;
  }

  .firstLabel,
  .content input,
  #profileNav button,
  #links a {
    font-size: 1.3rem;
  }

  .questionDiv {
    font-size: 1.4rem;
  }

  .answerDiv {
    width: auto;
    font-size: 1.8rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.4rem;
  }

  .answerer h5,
  h6,
  p {
    font-size: 1.3rem;
    text-align: justify;
  }

  .dp {
    height: 3rem;
    width: 3rem;
  }

  .followBtn {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 1035px) and (max-width: 1110px) {
  html {
    font-size: 85%;
  }

  #myContent {
    margin-left: 19rem;
  }

  #camera {
    top: 6%;
  }

  .questionDiv,
  .answerDiv,
  .content input,
  .btn,
  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.1rem;
  }

  .answerer p {
    text-align: justify;
  }
}

@media only screen and (min-width: 1110px) and (max-width: 1210px) {
  html {
    font-size: 90%;
  }

  #camera {
    top: 6%;
  }

  .questionDiv {
    font-size: 1.1rem;
  }

  .answerDiv {
    width: 80%;
    font-size: 1.1rem;
  }

  #writer,
  #answerBlock,
  .answerDiv button {
    font-size: 1.1rem;
  }

  .answerer p {
    text-align: justify;
  }
}

@media only screen and (min-width: 1210px) {
  .answerer p {
    text-align: justify;
  }
}