*{
    margin:0px;
    padding:0px;
    font-family: 'Saira', sans-serif;
}
#querySec{
    /* border:2px solid rgba(25, 92, 86, 0.726); */
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#queryDiv{
    /* border:2px solid rgba(255, 50, 50, 0.726); */
    margin-top: 1rem;
}
.quesDiv{
    /* border:2px solid rgb(97, 42, 97); */
    height: 2rem;
    width: 50rem;
    padding: 1rem;
    margin-bottom: -1.6rem;
}
.quesDiv:hover{
    box-shadow:3px 3px 6px rgb(226, 225, 225),-3px -3px 6px rgb(226, 225, 225);
    border-radius:0.5rem;
    background-color: aliceblue;
}
.quesDiv a{
    color:#195FAA;
    text-decoration: none;
}