*{
    margin:0px;
    padding:0px;
    font-family: 'Saira', sans-serif;
}
#searchNav{
    background-color: rgb(238, 238, 238);
    display: block;
    margin: auto;
    /* height: 2rem; */
    height: max-content;
    /* width:9rem; */
    padding:0.6rem;
    margin-top:2rem;
    margin-bottom:2rem;
    width: max-content;
}
#searchNav ul{
    display: flex;
}
#searchNav ul li{
    list-style: none;
}
#userBtn,#quesBtn{
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color:blue;
}

#userDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: block;
    margin:auto; */
}
#userDiv h1{
    margin-top:3rem;
}
#user{
    border-top:2px solid rgb(226, 226, 226);
    border-bottom:2px solid rgb(226, 226, 226);
    width:47rem;
    padding: 0.7rem 1rem;
    display: flex;
    position:relative;
    align-items: center;
}
#user:hover{
    background-color: rgb(240, 240, 240);
 }
#user h3{
    margin-left: 0.7rem;
}
#flwBtn{
    position:absolute;
    right:1rem;
    color:#2E69FF;
    /* background-color: #6BBEF5; */
    background-color: #c7e8fd;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem;
    width: 6rem;
    cursor:pointer;
}
#flwBtn:hover{
    background-color: #b1e0ff;
}

/* MEDIA QUERY */

@media only screen and (max-width: 400px) {
    html{
        font-size: 40%;
    }
    /* #searchNav li,#searchNav button{
        font-size: 1.6rem;
    } */
    #user{
        /* font-size: 1.5rem;
        padding:1rem 0rem; */
        width:39rem;
    }
    #user button{
        font-size: 1.6rem;
        width: 8rem;
    }
 }
